# Week 3 - Data Wrangling

In this notebook we will practice data cleaning and wrangling using a *messy* version of the Titanic dataset.

Topics covered:
- Inspecting data
- Preprocessing
    - Categorical x Numerical Data
    - Fixing column types
    - Standardizing Categorical Values
    - Missing values (Identifying and Imputation)
- Feature Engineering
- Exporting and Loading Cleaned Data

### SETUP

In [ ]:
# if you any of those
#!pip install pandas numpy seaborn

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

##  Dataset

In this section, we will work with real-world datasets to apply the concepts we have learned so far.

Let's load a sample dataset using Pandas.

We are going to use the popular `Titanic` dataset, which contains information about passengers on the Titanic, including whether they survived the disaster.

**Data dictionary**

| Column | Description |
|---|---|
| PassengerId | Unique ID : T (Titanic) + ticket class + year + port + incremental ID per class.
| Survived | 0 = No, 1 = Yes |
| Pclass | Ticket class (1, 2, 3) |
| Name | Passenger name |
| Sex | Gender |
| Age | Age in years |
| SibSp | Siblings/spouses aboard |
| Parch | Parents/children aboard |
| Fare | Ticket fare |
| Deck | Deck letter |
| Embarked | Port of embarkation (C/Q/S)|

## 1. Inspecting the dataset

### Load the Titanic dataset:

In [ ]:
# your code here

Before anything, we must load the dataset correctly

Manually inspect the dataset file or run the command `!head file_name.csv` or `!cat file_name.csv` - **head** might not work in windows OS üòä

In [ ]:
# your code here

Now try again using `sep`

In [ ]:
# your code here

**It seems that someone saved the index by mistake... Lets get rid of it!**

### Q.1.1 Drop the unnamed column.
- Use `df.drop(columns=['col_name'], inplace=True)`

In [ ]:
# your code here

### Q.1.2 How many rows and columns there is?

In [ ]:
# your code here

### Q.1.3 Check of each column data type

- Is every column data type the most appropriate for it?
- Are there any column with null/missing values?

In [ ]:
# your code here

### Q.1.4 Verify descritive statistics
- All numeric columns are being displayed?
- Those descritive statistcs are meaningfull for every column?

In [ ]:
# your code here

## 2. Preprocessing

Now that we have at least some information about the dataset, it is more than obvious that there are many problems.

Let's preprocess this dataset to make it more viable and clean for future analysis.

### Q.2.1 First of all, the documentation provided a column name that does not exist.
- Identify and `rename` it:

**Example:**

```python
df.rename(columns={'old_name': 'new_name'}, inplace=True)
```

In [ ]:
# your code here

<details>
<summary style="background-color: #fff3cd; padding: 10px; border-radius: 5px; cursor: pointer;">
    <h2 style="display: inline;">
        Understanding Numerical vs. Categorical Data
        <span style="color: red; font-size: 0.8em;">(click to expand/collapse)</span>
    </h2>
</summary>

It is important to understand **what type of data each column represents**.  
Choosing the **correct type** improves **memory usage**, **speeds up operations**, and makes **analysis more reliable**.

---

### **1. Numerical Data**

These are values that represent quantities and support mathematical operations.

Examples:
- Age (`22`, `45.0`)
- Fare (`71.283`, `15.50`)
- Number of siblings (`3`, `0`)
- Any measured or counted quantity

Two main subtypes:
- **int** ‚Üí whole numbers (0, 1, 2‚Ä¶)
- **float** ‚Üí decimal numbers (0.0, 3.14‚Ä¶)

Numerical columns allow:
- statistics (mean, median, std)
- plotting histograms
- mathematical operations
- machine learning models

---

### **2. Categorical Data**

These represent **labels**, **groups**, or **categories**, not quantities.

Examples:
- Sex (`"male"`, `"female"`)
- Embarkation port (`"C"`, `"Q"`, `"S"`)
- Passenger class (`"First"`, `"Second"`, `"Third"`)
- Deck (`"A"`, `"B"`, `"Unknown"`)

Types commonly used:
- **string (object)** ‚Üí free text labels  
- **category** ‚Üí optimized categorical labels (recommended)

Categorical columns allow:
- grouping (`df.groupby("sex")`)
- value counts
- filtering
- faster processing when stored as `category`

---

### **Why this distinction matters**

If a column is stored with the wrong dtype:

- A numeric column stored as string **cannot be computed**:  
  `"45" + "10"` ‚Üí `"4510"` (string concatenation!)
- A categorical column stored as numbers **breaks meaning**
- Machine learning pipelines **fail or behave poorly**
- Missing values become difficult to detect and fix
- Memory usage increases (especially with text)

So the first step in Data Wrangling is:

üëâ **Identify** whether each column is numerical or categorical  
üëâ **Fix** the dtype accordingly

</details>

## Fixing Column Types

Datasets often contain columns stored with the wrong data type.  
This usually happens when values are mixed (e.g., numbers + text), when the file was exported incorrectly, or when data is collected from multiple sources.

Working with incorrect types can break calculations, comparisons, plots, or machine-learning pipelines.  
So the first step is to **inspect** and **fix** them.

**Common strategies for fixing the column types are:**

___
**Direct convertion:**
If you know that the column will be able to be directly converted
```python
df['column_name'] = df['column_name'].astype(dtype)
```
___
**1. Convert a column to numeric**

Use when the column **should be a number**, but contains strings, symbols, or inconsistent formatting.

```python
df["column_name"] = pd.to_numeric(df["column_name"], errors="coerce")
```
`errors="coerce"` converts invalid values into **NaN**, which can later be imputed.
___

**2. Clean and convert a column that contains units or extra text**

Useful for columns like "100 USD", "45 years", "200 km".

```python
df["column_name"] = (
    df["column_name"]
        .astype(str)
        .str.replace(" USD", "", regex=False)
)

# now casting to numeric dtype
df["column_name"] = pd.to_numeric(df["column_name"], errors="coerce")
```
___
**3. Convert a column to string (categorical text)**

Use when the column should represent labels, not numbers.

```python
df["column_name"] = df["column_name"].astype(str)
```

**4. Convert a column to category (optional optimization)**

Useful for columns with repeated labels (e.g., "male", "female", "unknown").

```python
df["column_name"] = df["column_name"].astype("category")
```
___
**5. Convert a column to datetime**

For dates like "2020-01-05" or "05/01/2020".
```python
df["column_name"] = pd.to_datetime(df["column_name"], errors="coerce")
```
___

**After fixing all types, it is good practice to check the result:**

- `.info()`
- `.dtypes`

### Q 2.2 Inspect each column, decide the most appropriate `dtype` and `fix` it:

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

## Standardizing Categorical Values

Sometimes you may also find inconsistent or incorrect labels in categorical columns.  
For example, the same category may appear in multiple formats:

- "female", "Female", "F", "f"
- "male", "Male", "M", "m"

These inconsistencies make analysis, filtering, and grouping unreliable.  
To fix this, we **standardize** all categorical values into a consistent format.

---

**1. Convert everything to lowercase**

This removes differences like "Female" vs "female".

```python
df["column_name"] = df["column_name"].astype(str).str.lower()
```
---

**2. If there are many variations, a `mapping dictionary` might help:**

```python
mapping = {
    "female": "female",
    "f": "female",
    "woman": "female",
    "male": "male",
    "m": "male",
    "man": "male"
}

df["column_name"] = df["column_name"].replace(mapping)
```
___
**Tips:**

- Verify the frequencies of `categorical columns`
```python
df["column_name"].value_counts()
```
- Converting to `category` offers optimization in terms of memory footprint, comparinson speed and interpretability
```python
df["column_name"] = df["column_name"].astype("category")
```

### Q.2.3 Verify if any categorical column needs to be standardized
- Inspect columns of dtype `category`, `object`, `bool`, `int`
- Inspect using `df['column'].values_count()`

In [ ]:
# your code here

## Missing values

Most real-world datasets contain missing or inconsistent values.

We must decide how to handle them. The main strategies are:

___
**1. Remove rows with missing values**

Useful when:

Only a few rows contain missing values.

Removing them does not distort the dataset.

```python
df_clean = df.dropna()
```
___
**2. Remove columns with too many missing values**

Useful when:

A column is mostly empty (e.g., >80% missing maybe even less threshold)

The column is not essential for the analysis

```python
df_clean = df.drop(columns=["column_name"])
```
___
**3. Impute missing values (numeric columns)**

Common inputs:

- Mean

- Median (more robust to outliers)

- Constant value

```python
# mean
df["column_name"] = df["column_name"].fillna(df["column_name"].mean())

# median
df["column_name"] = df["column_name"].fillna(df["column_name"].median())

# constant value
df["column_name"] = df["column_name"].fillna(1)
```
___
**4. Impute missing values (categorical columns)**

Typical strategies:

Replace with the most frequent category (mode)

Replace with a special label such as "Unknown"

```python
# mode
df["column_name"] = df["column_name"].fillna(df["column_name"].mode()[0])

# special label
df["column_name"] = df["column_name"].fillna("Unknown")
```
___
**There are more advanced methods of imputation but those above cover most of the problems that you might have initially.**

### Q.2.4 Check for missing values in every column:
- Try to obtain a sum of missing values in each column

In [ ]:
# your code here

### Q.2.5 Which column is the most problematic in terms of missing values?

In [ ]:
# your answer here
#

### Q.2.6 Let's find out the percentage of missing values in the most problematic column.

In [ ]:
# your code here

### Q.2.7 Define a function that will check for missing values in percentage each column that you provide as a param.

**Example:**

```python
def percentage_missing_values(df: pd.DataFrame, col: str) -> float:

    # your code here
    
    return percentage_of_missing
```

In [ ]:
# your code here

### Q 2.8. Impute missing values for each column that requires cleaning

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

## 3. Feature Engineering

Now that the dataset is clean, with corrected data types, standardized categorical values, and missing values imputed, we can begin improving the dataset by **creating new features**.

Feature Engineering helps models extract more meaningful patterns by transforming the raw data into something more informative and more useful for analysis or machine learning.

---
>**1.Mathematical combinations**
>Create new features by combining existing numeric features.

>**Example: family size**
>```python
>df["family_size"] = df["sibsp"] + df["parch"] + 1
>```
---
>**2. Binarizing or grouping categories**
>Transform categories into simpler or grouped labels.

>**Example: traveling alone vs not**
>```python
>df["is_alone"] = (df["family_size"] == 1)
>```
---
>**3. Extracting information from existing columns**

>**Example: title extracted from the passenger name**
>```python
>df["title"] = df["name"].str.extract(r",\s*([^\.]*)\.", expand=False)
>df["title"] = df["title"].str.strip().str.lower()
>```
---
>**4. Discretization (binning)**
>Convert continuous variables into intervals.

>**Example using `cut`:**
>```python
>df["age_group"] = pd.qcut(
>    df["age"],
>    bins=[0, 12, 18, 35, 60, 100],
>    labels=["child", "teen", "young_adult", "adult", "senior"]
>)
>```
>**-  `pd.cut` will consider intervals as `( ]`**
>**- `open on left (exclusive)` and `closed on right (inclusive)`**

>**Example using `qcut` (data will be split in equal parts)**
>```python
>df["age_group"] = pd.cut(
>    df["age"],
>    q=5,
>    labels=["child", "teen", "young_adult", "adult", "senior"]
>)
>```
---
>**5. Encoding boolean or numeric signals**

>**Example: indicator for high fare**
>```python
>df["high_fare"] = df["fare"] > df["fare"].median()
>```
---
>**6. Interaction features**
>Features created by combining multiple existing ones.

>**Example: price paid per person**
>```python
>df["fare_per_person"] = df["fare"] / df["family_size"]
>```
---
**Example Creating feature set**

```python
df["family_size"] = df["sibsp"] + df["parch"] + 1
df["is_alone"] = (df["family_size"] == 1)

df["title"] = df["name"].str.extract(r",\s*([^\.]*)\.", expand=False)
df["title"] = df["title"].str.strip().str.lower()

df["age_group"] = pd.cut(
    df["age"],
    bins=[0, 12, 18, 35, 60, 100],
    labels=["child", "teen", "young_adult", "adult", "senior"]
)

df["high_fare"] = df["fare"] > df["fare"].median()
df["fare_per_person"] = df["fare"] / df["family_size"]

df.head()
```
---
### Q 3.1. Create a new column called `is_child` that is `True` when **age < 12**.

In [ ]:
# your code here

### **Q 3.2.** Create a column `family_size` based on sibsp e parch.

In [ ]:
# your code here

### Q 3.3. Create a `class` column based on the `Ticket Class`.
- **1 -> First**
- **2 -> Second**
- **3 -> Third**

- **Set the `dtype` of this column to `category`.**

In [ ]:
# your code here

### Q.3.4. Create a `embarked` column based on the Port where the passenger embarked.
- **Use the initials as the category value.**
- **Set the `dtype` of this column to `category`.**

In [ ]:
# your code here

### Q 3.5. Create a `fare_bin` column by splitting fare into 4 quantiles using `pd.qcut`.
- use `labels` as a list of `'Low', 'Medium', 'High', 'Very High'`

In [ ]:
# your code here

### Q 3.6. Create a column `age_fare_ratio` equal to `age / fare`, and comment on whether this feature makes sense.
- be careful about zero-division

In [ ]:
# your code here

### Q 3.7. Create `age_group` **(you decide the bins and labels)** and count how many passengers exist in each `age_group`.

In [ ]:
# your code here

### Q 3.8. Create a new column `surname` containing the passenger‚Äôs surname

In [ ]:
# your code here

### **Q 3.9.** Using the engineered features, compute a summary showing:
- average `fare` per `age_group`
- average `family_size` per `class`

In [ ]:
# your code here

## 4. Export Dataset

Now that our dataset is clean, we might want to save time by not needing to preprocess it again.

Exporting it is a good way to avoid running all cleaning steps every time you start your notebook.

There are many formats you can choose, and the most common are:

---

### ‚úîÔ∏è Export to CSV
```python
df_clean.to_csv("titanic_clean.csv", index=False)
```

- `index=False` avoids saving the DataFrame index as an extra column.
- CSV files are human-readable and compatible with most tools.

---

### ‚úîÔ∏è Export to Excel
```python
df_clean.to_excel("titanic_clean.xlsx", index=False)
```

- Requires `openpyxl` or `xlsxwriter` installed.
- Useful when sharing data with non-programmers.

---

### ‚úîÔ∏è Export to JSON
```python
df_clean.to_json("titanic_clean.json", orient="records")
```

Common orientations:

- `"records"` ‚Üí list of dictionaries (most common)
- `"split"` ‚Üí dictionary with `index`, `columns`, `data`
- `"table"` ‚Üí includes metadata, useful for interoperability

---
### ‚úîÔ∏è Loading Back the Dataset Later
```python
df_loaded = pd.read_csv("titanic_clean.csv")
```

or:

```python
df_loaded = pd.read_json("titanic_clean.json")
```
---

**if you are curious, search for `pickle` and `parquet`.**

**Now you can skip all preprocessing and jump directly into analysis.**

### Q 4.1. Export the dataset to `csv`. Set `index=True` as an additional param.

In [ ]:
# your code here

### Q 4.2 Load into a variable named `df_loaded`

In [ ]:
# your code here

**You also could just drop the artificial index column...** `df.drop(columns=['col'], inplace=True)`

### Q 4.3 Export the dataset to `csv`. Set `index=False` as an additional param.

In [ ]:
# your code here

## 5. Final Clean Dataset

### Load the Clean Dataset

- **Test first with a different variable name to avoid overwriting by accident.**

In [ ]:
# your code here